<% provide(:title, 'Sobre') %>
<h1>Sobre</h1>
<p>
  Este website tem como objetivo funcionar como um banco de dados
  de salas de cinemas das cidades do Brasil. Os usuários podem avaliá-las
  podendo, assim, facilitar na escolha da sala de cinema na hora de assistir
  o próximo filme.
</p>