<div class="center hero-unit">
	<h1>Bem vindo à <b>Salas de Cinema</b>.</h1>

	<h2>
		Procure pelas melhores salas da sua cidade.
	</h2>
	
	<%= link_to "Cadastre-se!", signup_path, class: "btn btn-large btn-primary" %>
</div>